<!DOCTYPE html>
<html lang="en-us">
<head>
    <%- include(appRoot + '/templates/head.ejs'); %>
</head>
<body>
<header>
    <%- include(appRoot + '/templates/header.ejs'); %>
</header>
<div class="container">
    <br>
    <h1 class="ts-primary ts-header-card">
        Account
    </h1>

</div>
</body>
</html>
