<!DOCTYPE html>
<html lang="en-us">
<head>
    <%- include(appRoot + '/templates/head.ejs'); %>
</head>
<body>
<header>
    <%- include(appRoot + '/templates/header.ejs'); %>
</header>
<br>
<h1 class="ts-primary ts-header-card"><%= message %></h1>
<div class="container">
<h2><%= status %></h2>
</div>
</body>
</html>