html {
    height: 100% !important;
}

body {
    background: rgb(50, 50, 50);
    color: rgb(200, 200, 200);
    height: 100% !important;
}

.popover {
    background: rgb(50, 50, 50) !important;
    color: rgb(200, 200, 200) !important;
    border-color: rgb(200, 200, 200) !important;
}

/*.container {
    height: calc(100% - 80px);
}*/

.simplebar-track {
    background-color: #606060;
}

.simplebar-scrollbar {
    background-color: rgb(107, 115, 244);
    color: rgba(0,0,0,0);
}

.popover-header {
    background: rgb(50, 50, 50) !important;
    color: rgb(200, 200, 200) !important;
}

.popover-body {
    background: rgb(50, 50, 50) !important;
    color: rgb(200, 200, 200) !important;
}

.editor-toolbar a {
    color: rgb(200, 200, 200) !important;
}

.cm-s-paper {
    background: rgb(107, 115, 244);
}

.ts-primary {
    background-color: rgb(97, 57, 179);
}

.modal-header {
    background-color: rgb(97, 57, 179);
}

.modal-content {
    background: rgb(50, 50, 50);
}

.ts-secondary {
    background: rgb(55, 55, 55);
}

.ts-border {
    border: 1px solid rgb(150, 150, 150);
    border-radius: 5px;
    padding: 10px;
}

.ts-form-item {
    background-color: rgb(107, 115, 244);
}

.ts-form-item:valid {
    border: 2px solid rgb(0, 154, 0) !important;
}

.ts-form-item:invalid {
    border: 2px solid rgb(155, 64, 64) !important;
}

.ts-hidden {
  display: none;
}

.nav-tabs  .nav-link.active {
  background-color: rgb(97, 57, 179);
  color: rgb(200, 200, 200);
}

.ts-header-card {
    margin-left: 5%;
    padding: 5px 40px 5px 5px;
    display: inline-block;
}

.ts-main-card {
    margin-left: 5px;
    padding: 5px 40px 5px 5px;
    display: inline-block;
}

.ts-card {
    margin-left: 10px;
    margin-right: 10px;
    height: 200px;
    width: 90%;
}

.ts-info-card {
    margin: 5px;
    border: 1px solid rgb(97, 57, 179);
}

.ts-info-card > *:not(.ts-primary) {
    margin: 5px;
}

.ts-text-bar {
  animation-name: ts-text-bar-a;
  animation-duration: .5s;
  animation-iteration-count: infinite;
}

.ts-file-input {
    position: absolute;
    font-size: 50px;
    opacity: 0;
    right: 0;
    top: 0;
}

.dropdown-menu {
    background-color: #212529;
    color: white;
}

.dropdown-item {
    background-color: #212529;
    color: white;
}

.alert-danger {
    background: rgb(100, 50, 50);
    color: black;
    border-color: red;
}

@keyframes ts-text-bar-a {
  0% {visibility: hidden}
  49% {visibility: hidden}
  50% {visibility: visible}
  99% {visibility: visible}
  100% {visibility: hidden}
}