<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="/"><img src="/public/img/icon.png" width="30" height="30" alt="nav"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainNavContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
        </ul>
    </div>
    <ul class="navbar-nav my-2 my-lg-0">
        <div id="header-login">
            <li class="nav-item">
                <a class="nav-link" href="/account/login">Login</a>
            </li>
        </div>
        <div id="header-account" style="display: none">
            <li class="nav-item dropdown">
                <a class="nav-link" href="#" id="account-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="account-dropdown">
                    <a class="dropdown-item" href="/account">Account</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/account/logout">Logout</a>
                </div>
            </li>
        </div>
    </ul>
</nav>
<div style="position: absolute; top: 60px; right: 0; width: 15%" id="alerts">
    <%
    if (messages != undefined) {
        for (var i = 0; i < messages.length; i++) {
    %>
        <div class="alert alert-success" style="margin-top: 5px; padding: 5px">
            <%= messages[i] %>
        </div>
    <%
        }
    }
    %>
</div>