<link rel="stylesheet" href="/public/css/bootstrap.min.css">
<link rel="stylesheet" href="/public/css/style.css">
<script src="/public/js/jquery-3.4.1.min.js"></script>
<script src="/public/js/fontawsome.js"></script>
<script src="/public/js/popper.min.js"></script>
<script src="/public/js/bootstrap.bundle.min.js"></script>
<script src="/public/js/script.js"></script>
<title><%= title %> | TrainCarts</title>
<link rel="icon" href="/public/img/icon.png">
<link rel="stylesheet" href="https://unpkg.com/simplebar@latest/dist/simplebar.css"/>
<script src="https://unpkg.com/simplebar@latest/dist/simplebar.min.js"></script>